body
  margin: 0
  padding: 0
  font-family: sans-serif

#fullwindow
  display: flex
  height: 100vh

.Sidebar
  min-width: 320px
  background: #c0c0c0
  display: flex
  flex-direction: column
  .Controls
    height: 48px
    background: #d0d0d0
    padding: 40px
    display: flex
    flex-direction: column
    .AddButtonMenu
      border: none
      background: white
      padding: 12px
      .Dropdown
        display: none
        li
          padding: 8px 16px
      &:hover .Dropdown
        display: block
        list-style: none
        margin: 12px 0 0 0
        padding: 0
        position: relative
        bottom: 0
  .Status
    flex-grow: 1
    .Info
      padding: 40px
.Content
  flex-grow: 1
  height: 100%
  overflow-y: scroll
  .BlocksContainer
    padding: 40px
    display: flex
    flex-wrap: wrap
    align-items: flex-start
    .Block
      flex-basis:20%
      padding: 20px
      margin: 8px
      box-shadow: 0 2px 5px rgba(0,0,0,0.2)
      position: relative
      user-select: none
      transition: box-shadow 0.2s, transform 0.2s
      &__Close
        position: absolute
        height: 32px
        width: 32px
        right: 0
        top: 0

        font-size: 24px
        text-align: center
        cursor: pointer
      &--selected
        box-shadow: 0 4px 8px rgba(0,0,0,0.4)
        transform: translateY(-4px)
      &--simple
        border-top: 6px solid #02173E
      &--extended
        border-top: 6px solid #BF0C2B
      &--alternativeColor
        border-top: 6px solid #09A38C
      p
        height: 48px
